/* $Id: color-brown-style.css,v 1.0.0 2013/09/25 08:18:15 symphonythemes Exp $ */
/*------------------------------------*\
	RESET
\*------------------------------------*/

body {
  background: #000;
}
a,
a:link,
a:visited {
  color: #C3522F;
}
.color-zone a,
.color-zone a:link,
.color-zone a:visited {
  color: #fff;
}
.zone-postscript a,
.zone-postscript a:link,
.zone-postscript a:visited,
.zone-footer a,
.zone-footer a:link,
.zone-footer a:visited {
  color: #fff;
}
li a.active {
  color: #C3522F;
}

.themecolor-text {
  color: #C3522F;
}
.color-zone .themecolor-text {
  color: #fff;
}

pre,
div.code {
  border-left: 5px solid #C3522F;
  background-color: #F8F6F2;
}
.highlight {
  background: #C3522F;
}

/*------------------------------------*\
	Pages Background
\*------------------------------------*/
/*------------------------------------*\
	Pages Background
\*------------------------------------*/

.zone-user-wrapper,
.zone-branding-wrapper,
.zone-menu-wrapper,
.zone-title-wrapper,
.zone-header-wrapper,
.zone-feature-top-wrapper,
.zone-feature-middle-wrapper,
.zone-feature-bottom-wrapper,
.zone-content-top-wrapper,
.zone-content-wrapper,
.zone-content-bottom-first-wrapper,
.zone-content-bottom-second-wrapper,
.zone-content-bottom-third-wrapper,
.zone-content-bottom-fourth-wrapper,
.zone-content-bottom-fifth-wrapper,
.zone-postscript-wrapper,
.zone-footer-wrapper {
  background: none !important;
  border: none;
}

.zone-user {
  border-bottom: 1px solid #EBE8E2;
  background: #f8f8f8;
}
.zone-branding {
  border-bottom: 1px solid #EBE8E2;
  background: #fff;
}
.zone-header {
  background: #fff;
}
#zone-full-width,
#region-full-width {
  background: #fff;
}

.color-zone {
  background: #39342D url(../images/zone-wrapper-shadow.png) 0 0 repeat-x;
  color: #7B7368;
}
.zone-feature-top,
.zone-content,
.zone-feature-bottom,
.zone-content-bottom-first,
.zone-content-bottom-third {
  background: #fff;
  border-top: 1px solid #EBE8E2;
  color: #7C6853;
}

.zone-content-bottom-fifth {
  background: url(../images/room.jpg) center center no-repeat;
  color: #7C6853;
}

.zone-postscript {
  background-color: #342F29;
  color: #7B7368;
  border-color: #575149
}
.zone-footer {
  background: #2B2822;
  color: #988F81;
}

/*------------------------------------*\
	Pages CSS
\*------------------------------------*/

/* Breadcrumb */
/* Page and full node titles */
h1.title {
  color: #7B7368;
}
#breadcrumb a {
  color: #7B7368;
}
.color-zone h2.home-block-title {
  color: #BFB7AC;
}
.color-zone h1,
.color-zone h2,
.color-zone h3,
.color-zone h4,
.color-zone h5,
.color-zone h6 {
  color: #BFB7AC;
}
h1, h2, h3, h4, h5, h6 {
  color: #382410;
}
h2.home-block-title {
  color: #382410;
}

/* Page naviagation */
.item-list .pager .pager-current,
.item-list .pager li a:hover {
  background: #C3522F;
  border: 1px solid #C3522F;
}

/* Divider */
.color-zone .hr-right {
  background: url(../images/brown/hr-left.png) right center no-repeat;
}
.color-zone .hr-left {
  background: url(../images/brown/hr-right.png) left center no-repeat;
}
.color-zone .hr-center,
.color-zone .hr-left-right {
  background: url(../images/brown/hr-left-right.png) center center no-repeat;
}

/* Button, label, badge */
a.btn,
.btn {
  background-color: #C3522F;
  border-color: #C3522F;
  color: #fff;
}
.color-zone a.btn,
.color-zone .btn {
  background-color: #fff;
  border-color: #fff;
  color: #555;
}
a.btn.btn-subtle,
.btn.btn-subtle {
  background-color: #F8F6F2;
  color: #7C6853;
}
a.btn.btn-subtle:hover,
.btn.btn-subtle:hover {
  background-color: #fff;
  color: #382410;
}
.color-zone a.btn.btn-subtle,
.color-zone .btn.btn-subtle {
  background-color: #342F29;
  border-color: #7B7368;
  color: #7B7368;
}
.color-zone a.btn.btn-subtle:hover,
.color-zone .btn.btn-subtle:hover {
  background-color: #39342d;
  color: #bfb7ac;
}

/*------------------------------------*\
	NAVIGATION CSS
\*------------------------------------*/
/* Nice menu */
.block-nice-menus ul.nice-menu li.active-trail a,
.block-nice-menus ul.nice-menu li a.active,
.block-nice-menus ul.nice-menu li a:hover,
.block-nice-menus ul.nice-menu li.over a {
  background-image: url(../images/brown/menu-item-active.png);
}
.block-nice-menus ul.nice-menu li a,
.block-nice-menus ul.nice-menu li span.nolink {
  color: #7C6853;
}
.block-nice-menus ul.nice-menu ul {
  border-top-color: #C3522F;
}

.block-nice-menus ul.nice-menu li li a,
.block-nice-menus ul.nice-menu li.active-trail li a,
.block-nice-menus ul.nice-menu li.over li a,
.block-nice-menus ul.nice-menu li li li a,
.block-nice-menus ul.nice-menu li.active-trail li.active-trail li a,
.block-nice-menus ul.nice-menu li.over li.over li a,
.block-nice-menus ul.nice-menu li li span.nolink {
  color: #7C6853;
}
.block-nice-menus ul.nice-menu li li.over span.nolink,
.block-nice-menus ul.nice-menu li li.over a:hover,
.block-nice-menus ul.nice-menu li li.over a.active,
.block-nice-menus ul.nice-menu li.over li a:hover,
.block-nice-menus ul.nice-menu li.over li a.active,
.block-nice-menus ul.nice-menu li.over li.over a,
.block-nice-menus ul.nice-menu li.active-trail li a:hover,
.block-nice-menus ul.nice-menu li.active-trail li a.active,
.block-nice-menus ul.nice-menu li.active-trail li.active-trail a,
.block-nice-menus ul.nice-menu li.over li.over li a:hover,
.block-nice-menus ul.nice-menu li.over li.over li a.active,
.block-nice-menus ul.nice-menu li.active-trail li.active-trail li.active-trail a:hover,
.block-nice-menus ul.nice-menu li.active-trail li.active-trail li.active-trail a.active {
  background-color: #F8F6F2;
}

/* Mobile menu */
ul#om-menu-mobile-menu li.om-leaf {
  background-color: #C3522F;
}
.om-maximenu-content .ui-accordion h3.ui-state-active a,
.om-maximenu-content .ui-accordion h3.ui-state-active span.accordion-link,
.om-maximenu-content  .ui-accordion-header.ui-state-active a,
.om-maximenu-content  .ui-accordion-header.ui-state-active span.accordion-link {
  color: #C3522F;
}

.om-maximenu-content ul.menu li.active-trail a.active-trail,
.om-maximenu-content ul.menu li a:hover,
.om-maximenu-content ul.menu li a.active {
  color: #C3522F;
}

/* User menu */
.block-system-user-menu ul.menu a:hover,
.block-system-user-menu ul.menu a.active {
  color: #C3522F;
}

/* Footer menu */
.zone-footer ul.menu li a:hover,
.zone-footer ul.menu li a.active {
  color: #fff;
  text-decoration: underline;
}

/*------------------------------------*\
	NODES CSS
\*------------------------------------*/
.node-links ul li a {
  background: #C3522F;
}

/*------------------------------------*\
	COMMENTS CSS
\*------------------------------------*/
article.comment h3 a:hover {
  color: #C3522F;
}
.comment-links ul li a:hover {
  color: #C3522F;
}
.comment-links ul li span a {
  color: #C3522F;
}


/*------------------------------------*\
	PORTFOLIO CSS
\*------------------------------------*/
/* List Portfolio */
.view-list-portfolio .views-field-title a {
  color: #382410;
}
.view-list-portfolio .views-field-title a:hover {
  color: #C3522F;
}
.view-list-articles .views-field-field-tags a {
  color: #7B7368;
}

/* List Portfolio 1 column */
.view-list-portfolio.list-portfolio-1-column .views-field-field-portfolio-category a {
  color: #9C9288;
}
.view-list-portfolio.list-portfolio-1-column .views-field-field-portfolio-category a:hover {
  color: #C3522F;
}
.view-list-portfolio.list-portfolio-1-column .views-field-view-node-1 a {
  background-color: #C3522F;
}
.view-list-portfolio.list-portfolio-1-column .views-field-view-node-1 a {
  background-color: #C3522F;
}

/* List article printerest */
.list-article-printerest .views-field-title a {
  color: #382410;
}

/* List Portfolio 1 column text */
.view-list-portfolio.list-portfolio-1-column-text .views-field-field-portfolio-category a:hover {
  color: #C3522F;
}
.view-list-portfolio.list-portfolio-1-column-text .views-field-view-node-1 a {
  background-color: #C3522F;
}

/* List Portfolio Default */
.view-list-portfolio.view-list-portfolio-default .views-field-title a {
  color: #7C6853;
}
.view-list-portfolio.view-list-portfolio-default .views-field-title a:hover {
  color: #C3522F;
}

/* Portfolio category */
.block-portfolio-category .content ul li a:hover {
  color: #C3522F;
}

/* Block latest portfolio */
.block-latest-portfolio .view-header h2 {
  background-image: url(../images/brown/hr-left-right.png);
  color: #BFB7AC;
}
.block-latest-portfolio .more-link {
  background-image: url(../images/brown/hr-left-right.png);
}

/* Block recent portfolio on sidebar */
.block-recent-portfolio-sidebar .views-row .views-row-inner:hover {
  border: 1px solid #C3522F;
}

/* Block slideshow portfolio */
.block-slideshow-portfolio .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-field-portfolio-images img:hover,
.block-slideshow-portfolio .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-content-field-portfolio-images img {
  border: 3px solid #C3522F;
}
.block-slideshow-portfolio .views-row .views-field-title a {
  color: #382410; 
}
.block-slideshow-portfolio .views-row .views-field-title a:hover {
  color: #C3522F;
}
.block-slideshow-portfolio .views-row .views-field-body {
  color: #7C6853; 
}

/*------------------------------------*\
	NEWS CSS
\*------------------------------------*/
/* List articles */
.view-list-articles .views-field-title a {
  color: #382410;
}
.view-list-articles .views-field-title a:hover {
  color: #C3522F;
}
.view-list-articles .views-field-field-tags a:hover {
  color: #C3522F;
}

/* Block latest news */
.block-latest-news .views-slideshow-controls-top .views-slideshow-pager-field-item .views-content-field-image img:hover,
.block-latest-news .views-slideshow-controls-top .views-slideshow-pager-field-item.active .views-content-field-image img,
.block-latest-news .views-slideshow-controls-top .views-slideshow-pager-field-item .views-field-field-embedded-media img:hover,
.block-latest-news .views-slideshow-controls-top .views-slideshow-pager-field-item.active .views-field-field-embedded-media img {
  border: 3px solid #C3522F;
}
.block-latest-news .views-row .views-field-title a {
  color: #382410;
}
.block-latest-news .views-row .views-field-title a:hover {
  color: #C3522F;
}
.block-latest-news .views-row .views-field-body {
  color: #7C6853; 
}

/* Latest from blog */
.block-latest-from-blog .views-row .views-field-title a {
  color: #382410;
}
.block-latest-from-blog .views-row .views-field-title a:hover {
  color: #C3522F;
}

/* Block related news */
.block-related-news .views-slideshow-controls-top .views-slideshow-pager-field-item .views-content-field-image img:hover,
.block-related-news .views-slideshow-controls-top .views-slideshow-pager-field-item.active .views-content-field-image img {
  border: 3px solid #C3522F;
}
.block-related-news .views-row .views-field-title a {
  color: #382410;
}
.block-related-news .views-row .views-field-body {
  color: #7C6853;
}
.block-related-news .views-row .views-field-title a:hover {
  color: #C3522F;
}

/* Block Recent News */
.zone-postscript .block-recent-news .views-row .views-field-field-image img,
.zone-postscript .block-recent-news .views-row .views-field-field-embedded-media img {
  background: #575149;
  border-color: #575149;
}
.zone-postscript .block-recent-news .views-row .views-field-title a {
  color: #BFB7AC;
}
.block-recent-news .views-row .views-field-title a {
  color: #7B7368;
}
.block-recent-news .views-row .views-field-title a:hover {
  color: #C3522F;
}
.block-recent-news .views-row .views-field-created {
  color: #9C9288;
}

/* Block Tags */
.zone-postscript .block-tags .views-row .views-field-name a {
  border-color: #575149;
}
.block-tags .views-row .views-field-name a {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;
}
.block-tags .views-row .views-field-name a:hover {
  text-decoration: underline;
  background-color: none;
}

/* Block author */
.block-views-author-block .block-inner {
  border-color: #E27F7F;
}

/* Article detail */
article.node-article .node-tags a,
article.node-article .node-user a {
  color: #7C6853;
}
article.node-article .node-tags a:hover,
article.node-article .node-user a:hover {
  color: #C3522F;
}
article.node-portfolio .field-slideshow-controls a.next:hover,
article.node-article .field-slideshow-controls a.next:hover {
  background: url(../images/brown/field-slideshow-next-hover.png) 0 0 no-repeat;
}
article.node-portfolio .field-slideshow-controls a.prev:hover,
article.node-article .field-slideshow-controls a.prev:hover {
  background: url(../images/brown/field-slideshow-prev-hover.png) 0 0 no-repeat;
}
.node-addthis {
  border-color: #E27F7F;
}

/*------------------------------------*\
	PHOTOS PAGE CSS
\*------------------------------------*/
.view-list-photos .views-row .views-field-title a {
  color: #7C6853;
}
.view-list-photos .views-row .views-field-title a:hover {
  color: #C3522F;
}

/*------------------------------------*\
	PRICING PAGE CSS
\*------------------------------------*/
/* Full boxed pricing */
.full-boxed-pricing .column-recommend ul li.label-row {
  background: #C3522F;
  border-color: #E27F7F;
}
.full-boxed-pricing ul li.title-row {
  color: #382410;
  border-color: #EBE8E2;
}
.full-boxed-pricing ul li.pricing-row {
  background-color: #F8F6F2;
}
.full-boxed-pricing .column-free ul li.pricing-row .exact_price {
  color: #D16F6F;
}
.full-boxed-pricing ul li {
  border-color: #EBE8E2;
}
.full-boxed-pricing ul li.pricing-row .price,
.full-boxed-pricing .price em.exact_price {
  color: #382410;
}
.full-boxed-pricing .column-recommend ul li.pricing-row .exact_price {
  color: #C3522F;
}
.full-boxed-pricing ul li.footer-row a.button {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;  
}
.full-boxed-pricing ul li.footer-row a.button:hover {
  color: #000;
  background-color: #F8F6F2;
  border-color: #EBE8E2;
}

/* Sep boxed pricing */
.sep-boxed-pricing ul li.footer-row a.button {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;  
}
.sep-boxed-pricing ul li.footer-row a.button:hover {
  color: #000;
  background-color: #F8F6F2;
  border-color: #EBE8E2;
}
.sep-boxed-pricing ul li {
  border-color: #EBE8E2;
}
.sep-boxed-pricing ul li.title-row {
  background: #D4633F;
  border-color: #E5744F;
}
.sep-boxed-pricing ul li.pricing-row {
  background: #C3522F;
  border-color: #E5744F #E5744F #E5744F;
}
.sep-boxed-pricing .price strong {
  color: #000;
}

/*------------------------------------*\
	TEAM CSS
\*------------------------------------*/
.view-list-members .views-field-field-member-image {
  border-color: #EBE8E2;
}
.view-list-members .views-field-field-member-image:hover {
  border: 3px solid #C3522F;
}
.view-list-members .views-field-title a {
  color: #382410;
}
.color-zone .view-list-members .views-field-title a {
  color: #BFB7AC;
}
.view-list-members .views-field-title a:hover {
  color: #C3522F;
}
.view-list-members .views-field-field-position {
  color: #C3522F;
}

/*------------------------------------*\
	TESTIMONIALS  CSS
\*------------------------------------*/
.block-testimonials h2.block-title {
  color: #382410;
}
.color-zone .block-testimonials h2.block-title {
  color: #BFB7AC;
  background-image: url(../images/brown/hr-left-right.png);
}
.block-testimonials .views-row .views-field-title a {
  color: #382410;
}
.color-zone .block-testimonials .views-row .views-field-title a {
  color: #BFB7AC;
}
.color-zone .block-testimonials .views-row {
  border-bottom-color: #575149;
}
.color-zone .block-testimonials .views-row-inner {
  border-left-color: #575149;
}
.color-zone .block-testimonials .views-row-1 .views-row-inner,
.color-zone .block-testimonials .views-row-3 .views-row-inner,
.color-zone .block-testimonials .views-row-5 .views-row-inner {
  border-left-width: 0;
}

/* Block Happy Client */
.block-happy-clients .views-row .views-field-title a {
  color: #382410;
}
.block-happy-clients .views-row .views-field-title a:hover {
  color: #C3522F;
}

/* Block slideshow testimonials */
.block-slideshow-testimonials .views-row .views-field-title a {
  color: #382410;
}
.block-slideshow-testimonials .views-row .views-field-title a:hover {
  color: #C3522F;
}
.block-slideshow-testimonials .views-row .views-field-body {
  color: #7C6853; 
  background-color: #F8F6F2;
}

/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/
.region-sidebar-second-inner,
.region-sidebar-first-inner,
.region-sidebar-second h2.block-title,
.region-sidebar-first h2.block-title,
.field-slideshow .field-slideshow-slide img {
  border-color: #EBE8E2;
}
.zone-postscript h2.block-title {
  color: #7A736B;
}
h2.block-title {
  color: #382410;
}

/* Block Quick Tabs */
.quicktabs_main {
  border-color: #EBE8E2;
}
ul.quicktabs-tabs li.active a {
  border-top-color: #C3522F;
  color: #382410;
}
ul.quicktabs-tabs li.first a {
  border-left-color: #EBE8E2;
}
ul.quicktabs-tabs li a {
  background-color: #F8F6F2;
  border-right-color: #EBE8E2;
  color: #382410;
}

/* Block Flex Slideshow */
.flex-control-paging li a.flex-active {
  background: #C3522F;
}

/* Block SimpleNews */
.block-simplenews input.form-submit:focus,
.block-simplenews input.form-submit:hover {
  background-color: #C3522F;
}

/* Block recent comments */
.block-comments-recent-block li a {
  color: #7B7368;
}
.block-comments-recent-block li a:hover {
  color: #C3522F;
}
.block-comments-recent-block li .views-field-timestamp {
  color: #9C9288;
}

/* Block list */
.block-list .content li a:hover {
  color: #C3522F;
}

/* Block icon on left */
.color-zone .block-icon-left .icon-stack {
  color: #464038;
}
.color-zone .block-icon-left .icon-stack:hover {
  color: #7C6853;
}

/* Progress bar */
.progressbar-themecolor.ui-progressbar .ui-progressbar-value {
  background: linear-gradient(-45deg, #C3522F 25%, #E5744F 25%, #E5744F 50%, #C3522F 50%, #C3522F 75%, #E5744F 75%, #E5744F) repeat scroll 0 0 / 6px 6px #C3522F;
  background-color: #7C6853;
  background-size: 32px 32px;
}

/* Block Our services */
.our-services-2 .icon-stack:hover {
  color: #C3522F;
}

/* Block accordion */
.accordion-menu-name-side-menu h3.active-trail,
.accordion-menu-name-side-menu h3:hover,
.accordion-menu-name-side-menu h3.active-trail a:hover,
.accordion-menu-name-side-menu h3.active-trai span.accordion-link:hover {
  background-color: #F8F6F2;
}
.accordion-menu-name-side-menu h3.active-trail a,
.accordion-menu-name-side-menu h3.active-trai span.accordion-link {
  background-color: #F8F6F2;
  border-top-color: #EBE8E2;
  border-bottom-color: #382410;
  color: #382410;
}
.accordion-menu-name-side-menu .accordion-header a,
.accordion-menu-name-side-menu .ui-accordion-header span.accordion-link {
  color: #7C6853;
}

.ui-accordion-header {
  border-color: #EBE8E2;
  color: #7C6853;
}
.ui-accordion h3:hover,
.ui-accordion-header:hover,
.ui-accordion .ui-accordion-content {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;
}
.ui-accordion .ui-accordion-content {
  color: #7C6853;
}

/* Toogle */
.toggle_area .toggle_item .toggle_label {
  color: #7C6853;
}
.toggle_area .toggle_item .toggle_label:hover {
  background-color: #F8F6F2;
}
.toggle_area .toggle_item .toggle_label.active {
  border-color: #EBE8E2;
}
.toggle_area .toggle_item .toggle_content {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;
}

/* FAQ */
.faq-question-answer,
.faq-question-answer .faq-question {
  border-color: #EBE8E2;
  color: #7C6853;
}
.faq-question-answer .faq-question a {
  color: #7C6853;
}
.faq-question-answer .faq-question:hover,
.faq-question-answer .faq-answer {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;
}

/* Tabs */
.ui-tabs .ui-tabs-nav,
.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li a {
  border-color: #EBE8E2;
  color: #7C6853;
}
.ui-tabs .ui-tabs-nav li.ui-state-active {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;
}
.ui-tabs .ui-tabs-panel {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;
}
.block-tabs-vertical.ui-tabs .ui-tabs-nav li.ui-state-active {
  border-right-color: #F8F6F2;
}

/* Block Sidebar Navigation */
.block-features-navigation .content ul.menu li a:hover,
.block-faq-faq-categories .content ul li a:hover {
  color: #C3522F;
}
.accordion-menu-name-side-menu .accordion-header a:hover,
.accordion-menu-name-side-menu .ui-accordion-header span.accordion-link:hover {
  color: #C3522F;
}
.accordion-menu-name-side-menu .ui-accordion-content-active ul.menu li a:hover,
.accordion-menu-name-side-menu .ui-accordion-content-active ul.menu li a.active {
  color: #C3522F;
}

/* Block box */
.color-zone .block-box-color {
  background-color: #342F29;
  border-color: #7B7368;
  color: #7B7368;
}
.block-box-grey {
  color: #7C6853;
  background-color: #F8F6F2;
  border-color: #EBE8E2;
}
.block-box-white {
  color: #7C6853;
}

/* Block top icon */
.block-top-icons .block-top-icons-box h3 {
  color: #382410;
}

/* 404 Page */
.page-404-menu {
  background: url(../images/brown/page-404-menu.png) 0 0 no-repeat;
}
.page-404-menu-inner {
  background: #C3522F;
}

/*------------------------------------*\
	FORMS CSS
\*------------------------------------*/

button:focus, button:active,
input:focus, input:active,
select:focus, select:active,
textarea:focus, textarea:active {
  border-color: #C3522F;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
  background-color: #C3522F;
}
.form-item input.form-text,
.form-item textarea.form-textarea {
  background-color: #F8F6F2;
  border-color: #EBE8E2;
  color: #7C6853;
}

/*------------------------------------*\
	TABS CSS
\*------------------------------------*/

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #C3522F;
}

